<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
	<title>TITLE</title>
</head>
<body>
	<p>DETAIL OF THE STUDENT: {{student_info.s_name}}</p>

	{% if student_info %}
		name: {{student_info.s_name}} </br>
		major: {{student_info.s_major}} </br>
		age: {{student_info.s_age}} </br>
		grade: {{student_info.s_grade}} </br>
		gender: {{student_info.s_gender}} </br>	
	{% else %}
		<p>students : 0</p>
	{% endif %}	

	</br>

	<a href="{% url 'students:stuMod' student_info.s_name %}">MODIFY THIS STUDENT</a></br>
	<a href="{% url 'students:stuDel' student_info.s_name %}">DELETE THIS STUDENT</a></br></br>
	<a href="{% url 'students:stuAll' %}">SHOW ALL THE STUDENTS</a></br>
	<a href="{% url 'students:reg' %}">REGISTER NEW STUDENT</a></br>

</body>
</html>